@import url('https://fonts.googleapis.com/css?family=Charmonman|Exo+2');
// @import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Pattaya');

$primary-color:#CAA80D;
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}   
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
    color: #333;
}
nav{
    // height:60px;
    width: 100%;
    color: #333;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .logo{
        font-weight: bold;
        font-size:50px;
        // padding: 80px;
        img{
            width: 250px;
        }
    }
    .menu{
        width: 90%;
        // margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding: 0px 30px;
        a{
            flex: 1;
            text-decoration: none;
            color: #333;
            text-align: center;
            &:hover{
                color: $primary-color;
            }
        }
    }
    
}

.image-wrap{
    // width: 100%;
    height: 800px;
    background: url('../images/action.jpg');
    background-size: cover;
    margin: 60px; 
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    // background: #EEE;
    .tagline{
        position: absolute;
        right: 40px;
        top: 36%;
        color: white;
        width: 587px;
        // font-weight: 900;
        font-size: 47px;
        // font-family: 'Montserrat', sans-serif;
        font-family: 'Pattaya', sans-serif;
        font-weight: 300;
        // text-transform: uppercase;

    }
    .content{
        position: absolute;
        left: 42%;
        width: 80%;
        height: 100%;
        mix-blend-mode: hue;
        color: white;
        &.content1{
            transform: skew(150deg,0deg);
            background: #000;
            
        }
        &.content2{
            transform: skew(50deg,0deg);
            background: rgb(21, 51, 223);

        }
    }
}

.about-us-wrap{
    margin: 60px;
    padding: 60px;
    .heading{
        color: $primary-color;
        font-size:30px;
    }
    .text{
        margin: 20px;
    }
}

.why-wrap{
    display: flex;
    margin: 60px;
    padding: 60px;
    &.organic{
        background: url('../images/img2.JPG');
        background-size: cover;
        height: 800px;

    }
    &.fairtrade{
        margin-top: 150px;
        margin-bottom: 150px;

    }
    &.right{
        .image{
            order:2;
           
        }
        .content{
            padding: 40px 100px 40px 0px;
        }
    }
    .image{
        flex: 40%;
        width: 100%;
        // height: 600px;
        // background: #EEE;
        img{
            margin-top: 20px;
            width: 60%
        }
    }
    .content{
        flex: 50%;
        box-sizing: border-box;
        padding: 40px 100px;
        .heading{
            font-weight: 600;
            font-size:28px;
            color: $primary-color;
        }
        .subtext{
            margin-top: 30px;
        }
    }
}

.cards{
    margin: 20px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .card-heading{
        font-weight: 600;
            font-size:28px;
    }
    .cards-wrap{
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        .card{
            // margin: 20px;
            max-width: 250px;
            flex-grow: 1;
            flex-basis: 200px;
            // height: 300px;
            // background: #EEE;
            .card-content{
                width: 100%;
                height: 100%;
                // background:#EEE;
                img{
                    width: 100%;
                }
            }
        }
    }
}

.cycle-wrap{
    padding: 60px;
    margin: 60px;
    text-align: center;
    .header{
        color: $primary-color;
        float: left;
        font-weight: 600;
        font-size:28px;
    }
    img{
        width: 80%;
    }
}

footer{
    height: 600px;
    background: url('../images/img1.JPG');
    background-size: cover;
    margin: 60px;
    .footer-content{
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3{
            color: white;
            font-size: 40px;
            margin-bottom: 30px;
            text-decoration: underline;
        }
        p{
            color: white;
            font-size: 30px;
        }
    }
}
.copyright{
    padding: 20px;
    text-align:center;
    color:#333;
    font-size: 16px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    nav{
        .menu{
            flex-wrap: wrap;
            a{
                flex-basis: 186px;
    margin: 11px;
            }
        }

    }
    .image-wrap{
        height: 213px;
        background: url(../images/action.jpg);
        background-size: cover;
        margin: 0;
        overflow: hidden;
        position: relative;
        box-sizing: border-box; 
        .tagline{
            position: absolute;
    // right: 14px;
    top: 26%;
    text-align: center;
    color: white;
    padding: 0px 29px;
    /* width: 587px; */
    width: auto;
    font-size: 28px;
    font-family: 'Pattaya', sans-serif;
    font-weight: 300;
        }
        .content .content1{
            background: none;
        }
    }
    .about-us-wrap{
        margin: 0;
        padding: 10px;
        .heading{
            font-size:15px;
        }
        .text{
            font-size: 11px;
        }
        .cards{margin: 0}
    }
   
    .cards .cards-wrap {
        margin-top: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        .card{
            flex-grow: 1;
            flex-basis: 0;
            margin: 10px;
            /* width: 333px; */
        }
    }
    .why-wrap{
        margin: 0;
        padding: 0;
        height: auto;
        flex-wrap: wrap;
        &.organic{
            height: auto;
            .content{
                background: rgba(0,0,0,0.5);

            }
            .heading{
                font-size:15px;
                color: white;
            }
            .subtext{
                font-size: 11px;
                color: white;
            }
            h4{
                font-size: 15px;
                color: white;
            }
            ul{
                font-size: 11px;
                color: white;
            }
        }
        .content{
            padding: 20px;
            flex-basis:600px;
        }
        &.fairtrade{
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            .heading{
                font-size:15px;
            }
            .subtext{
                font-size: 11px;
            }
            .content{
                padding: 20px;
            }
        }
    }
    

.cycle-wrap{
    margin: 0;
    padding: 20px;
.header {
    color: #caa80d;
    float: left;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 20px;
}
  } 
  footer {
    /* height: 600px; */
    height: auto;
    margin: 0;
    padding: 0;
    background: url(../images/img1.JPG);
    background-size: cover;
    /* margin: 60px; */
    /* padding: 36px; */
    .footer-content {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 46px 0px;
        h3{
            font-size:20px;
        }
        p{
            font-size: 16px;
        }
    }
}
}
  
  @media only screen and (min-width: 500px) and (max-width: 1200px) {
    nav{
        .menu{
            flex-wrap: wrap;
            a{
                flex-basis: 266px;
    margin: 11px;
            }
        }
    

    }
    .image-wrap{
        height: 423px;
    background: url(../images/action.jpg);
    background-size: cover;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
        .tagline{
            position: absolute;
            right: 14px;
            top: 37%;
            text-align: center;
            color: white;
            padding: 0px 29px;
            width: 329px;
            /* width: auto; */
            font-size: 28px;
            font-family: 'Pattaya', sans-serif;
            font-weight: 300;
        }
    }
    .about-us-wrap{
        margin: 0;
        padding: 20px;
        .heading{
            font-size:20px;
        }
        .text{
            font-size: 16px;
        }
    }
    .cards .cards-wrap {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px;
        .card{
            flex-grow: 1;
            flex-basis: 0;
            margin: 10px;
            /* width: 333px; */
        }
    }
    .why-wrap{
        margin: 0;
        padding: 0;
        height: auto;
        flex-wrap: wrap;
        &.organic{
            height: 500px;
            .content{
                background: rgba(0,0,0,0.5);

            }
            .heading{
                font-size:20px;
                color: white;
            }
            .subtext{
                font-size: 16px;
                color: white;
            }
            h4{
                font-size: 18px;
                color: white;
            }
            ul{
                font-size: 16px;
                color: white;
            }
        }
        .content{
            padding: 20px;
            flex-basis:600px;
        }
        &.fairtrade{
            margin-top: 50px;
            margin-bottom: 50px;
            text-align: center;
            .heading{
                font-size:20px;
            }
            .subtext{
                font-size: 16px;
            }
            .content{
                padding: 20px;
            }
        }
    }
    

.cycle-wrap{
    margin: 0;
    padding: 20px;
.header {
    color: #caa80d;
    float: left;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
  } 
  footer {
    /* height: 600px; */
    height: 320px;
    margin: 0;
    padding: 0;
    background: url(../images/img1.JPG);
    background-size: cover;
    /* margin: 60px; */
    /* padding: 36px; */
    .footer-content {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 46px 0px;
        h3{
            font-size:30px;
        }
        p{
            font-size: 22px;
        }
    }
}
  }